---
title: VitaCordis | Equipe
layout: "./layouts/base.njk"
permalink: "/equipe/"
estilosCss: ["equipe", ]
---
<section id="conheca">
  <div class="conheca-wrapper">
    <h1 class="secao-titulo">Conheça nossa equipe</h1>
    <div class="conheca-conteudo">
      <div class="conheca-img"><img src="/img/equipe1.webp" alt="Doutoras Flávia e Marina de frente uma para a outra e ao lado de equipamento de imageamento médico."></div>
      <div class="conheca-texto">
        <p>A Vitacordis nasceu do encontro entre vocação e experiência. Nossa equipe é formada por médicas especialistas em cardiologia fetal e pediátrica, que decidiram criar um espaço moderno, acolhedor e resolutivo para cuidar de corações pequenos com atenção integral.</p>
        <p>Mais do que exames e diagnósticos, oferecemos escuta, orientação e segurança para famílias que enfrentam o desafio de lidar com cardiopatias congênitas desde o pré-natal até a adolescência.</p>
      </div>
    </div>
  </div>
</section>

<section id="equipe">
  <div class="equipe-wrapper">
    <h2 class="secao-titulo">Equipe médica</h2>
    <div class="equipe-conteudo">
    {% for artigo in equipeMedica.artigos %}
      {% include "partials/artigo-equipe.njk" %}
    {% endfor %}
    </div>
  </div>
</section>