---
title: VitaCordis | Home
layout: "./layouts/base.njk"
permalink: "/"
estilosCss: ["home", ]
swiper: home
transicaoBanner: true
---
<section id="hero">
	<div class="hero">
		<div class="hero-sombra"></div>
			<div class="hero-conteudo">
				<div class="hero-texto">
					<h1 class="hero-titulo">
						Conosco os <span class="hero-destaque">pequenos corações </span>pulsam mais <span class="hero-destaque">fortes</span>.
					</h1>
					<p class="hero-subtitulo">Com tecnologia de ponta e equipe especializada, cuidamos do coração dos seus pequenos com todo o carinho e segurança que eles merecem.</p>
				</div>
				<div class="hero-chamada"><a href="/sobre/">Saiba Mais &rightarrow;</a></div>
			</div>
			<div class="swiper hero-swiper">
				<div class="swiper-wrapper">
					{% for slide in hero.slides %}
					<div class="swiper-slide hero-slide">
						<img src="{{ slide.imgSrc }}" alt="{{ slide.imgAlt }}">
					</div>
					{% endfor %}
				</div>
			</div>
	</div>
</section>

<section class="secao" id="sobre">
	{% for artigo in sobre.artigos %}
		{% include "partials/artigo-lado-a-lado.njk" %}
	{% endfor %}
</section>

<section class="secao" id="servicos">
	<div class="servicos">
		<h2>Nossos Serviços</h2>
		{% for artigo in servicos.artigos %}
			{% include "partials/cartao-horizontal-largo.njk" %}
		{% endfor %}
	</div>
</section>

<section class="secao" id="porque">
	<h2 class="secao-titulo">Por que nos escolher?</h2>
	{% for artigo in porque.artigos %}
		{% include "partials/artigo-lado-a-lado.njk" %}
	{% endfor %}
</section>

<section class="secao" id="testemunhos">
	<h2 class="secao-titulo">Testemunhos</h2>
	<div class="swiper testemunhos-swiper">
		<div class="swiper-wrapper testemunhos-wrapper">
			{% for slide in testemunhos.slides %}
			<div class="swiper-slide testemunhos-slide">
				<div>
					<div class="testemunhos-img" style="background-image: url({{slide.imgSrc}});"></div>
					<div class="testemunhos-estrelas" style="background-image: url(./img/5-estrelas.png);"></div>
				</div>
				<p class="testemunhos-citacao">{{ slide.citacao }}</p>
				<div class="testemunhos-autor">
					<p>{{ slide.fonte }}<br />{{ slide.data }}</p>
					<p><a href="{{ slide.url }}" target="_blank">
						<svg>
							<use xlink:href="#icone-link-externo"></use>
						</svg>
					</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="testemunhos-nav">
			<button type="button" class="swiper-button-prev testemunhos-botao">
				<svg><use xlink:href="#icone-swiper-anterior"></use></svg>
			</button>
			<button type="button" class="swiper-button-next testemunhos-botao">
				<svg><use xlink:href="#icone-swiper-proximo"></use></svg>
			</button>
		</div>
	</div>
</section>