---
title: VitaCordis | Perguntas
layout: "./layouts/base.njk"
permalink: "/perguntas/"
estilosCss: ["perguntas", ]
---
<section id="intro">
  <div class="intro-wrapper">
    <h1 class="secao-titulo">Perguntas e Respostas</h1>
    <div class="intro-conteudo">
      <p>Na Vitacordis, sabemos que o diagnóstico e o acompanhamento de cardiopatias podem gerar muitas dúvidas. Reunimos aqui as perguntas mais frequentes feitas por gestantes, mães, pais e profissionais da saúde, com respostas claras e objetivas.</p>
    </div>
  </div>
</section>

<section id="acordeao">
  <div class="acordeao-wrapper">
    <div class="acordeao-conteudo">
    {% for faq in acordeaoDados %}
      <details>
        <summary>{{ faq.pergunta }}</summary>
        <p>{{ faq.resposta }}</p>
      </details>
    {% endfor %}
    </div>
  </div>
</section>