---
title: VitaCordis | Serviços
layout: "./layouts/base.njk"
permalink: "/servicos/"
estilosCss: ["servicos", ]
---
<section id="servicos">
  <div class="servicos-wrapper">
    <h1 class="secao-titulo">Serviços Oferecidos</h1>
    <div class="servicos-conteudo">
      <p>Na Vitacordis, oferecemos serviços especializados em cardiologia fetal e pediá­trica, com foco em diagnóstico preciso, orientação segura e acompanhamento humanizado. Nossos atendimentos são pensados para cada fase da vida, desde o pré-natal até a adolescência.</p>
      <p><strong>Os exames também podem ser feitos por atendimento domiciliar e as consultas tanto por atendimento domiciliar quanto por telemedicina.</strong></p>
    </div>
  </div>
</section>