---
title: VitaCordis | Serviços
layout: "./layouts/base.njk"
permalink: "/servicos/"
estilosCss: ["servicos", ]
---
<section id="servicos">
  <div class="servicos-wrapper">
    <h1 class="secao-titulo">Serviços Oferecidos</h1>
    <div class="servicos-conteudo">
      <p>Na Vitacordis, oferecemos serviços especializados em cardiologia fetal e pediá­trica, com foco em diagnóstico preciso, orientação segura e acompanhamento humanizado. Nossos atendimentos são pensados para cada fase da vida, desde o pré-natal até a adolescência.</p>
      <p><strong>Os exames também podem ser feitos por atendimento domiciliar e as consultas tanto por atendimento domiciliar quanto por telemedicina.</strong></p>
    </div>
  </div>
</section>

<section id="exames">
  <div class="exames-wrapper">
    <h2 class="secao-titulo">Exames</h2>
    <div class="exames-grupo">
      {% for cartao in exames.grupos[0].cartoes %}
        {% include "partials/cartao-vertical-estreito.njk" %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="consultas">
  <div class="consultas-wrapper">
    <h2 class="secao-titulo">Consultas</h2>
    <div class="consultas-grupos-wrapper">
      <div class="consultas-grupo">
        {% for cartao in consultas.grupos[0].cartoes %}
          {% include "partials/cartao-vertical-estreito.njk" %}
        {% endfor %}
      </div>
      <div class="consultas-grupo">
        {% for cartao in consultas.grupos[1].cartoes %}
          {% include "partials/cartao-vertical-estreito.njk" %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="diferenciais">
  <div class="diferenciais-wrapper">
    <h2 class="secao-titulo">Diferenciais da clínica</h2>
    <div class="diferenciais-conteudo">
      <p>Na Vitacordis, acreditamos que cuidar do coração é também cuidar da história de cada família. Nosso principal diferencial está na união entre alta especialização médica e um atendimento verdadeiramente humano. Oferecemos consultas e exames no mesmo local, com agilidade e precisão, evitando deslocamentos e facilitando decisões clínicas. Nossa equipe atua de forma integrada, acompanhando gestantes e crianças com cardiopatias desde o pré-natal até a adolescência, sempre com escuta ativa, empatia e condutas baseadas em evidências. Além disso, disponibilizamos aconselhamento à distância e atendimento domiciliar, ampliando o acesso ao cuidado especializado com conforto e segurança. Aqui, cada batida conta — e cada paciente é acolhido com atenção e respeito.</p>
    </div>
  </div>
</section>