---
title: VitaCordis | Sobre
layout: "./layouts/base.njk"
estilosCss: ["sobre", ]
swiper: sobre
transicaoBanner: true
---
<section id="capa">
  <div class="capa">
    <div class="capa-wrapper">
      <div class="capa-conteudo">
        <div class="capa-titulo">
          <h1>Um novo espaço para cuidar de pequenos corações com grandes propósitos.</h1>
        </div>
        <div class="capa-texto">
          <p>
            Somos um centro especializado em cardiologia pediátrica, criado para oferecer cuidado humanizado, tecnologia atual e apoio integral às famílias.
          </p>
          <p>
            Nossa proposta tem por objetivo oferecer uma experiência atualizada, acolhedora e centrada nas necessidades das famílias modernas.
          </p>
          <p>
            E nossa história começa muito antes da inauguração — nos caminhos e experiências dos profissionais que decidiram transformar esse sonho em realidade.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="secao" id="sobre">
  <div class="sobre">
    {% for artigo in sobre.artigos %}
      {% include "partials/artigo-lado-a-lado-conteudo.njk" %}
    {% endfor %}
  </div>
</section>

<section class="secao" id="espaco">
  <h2 class="secao-titulo">Conheça nosso espaço</h2>
  <div class="swiper espaco-swiper">
    <div class="swiper-wrapper espaco-swiper-wrapper">
      {% for slide in espaco.slides %}
        <div class="swiper-slide"><img src="{{slide.imgSrc}}" alt="{{slide.imgAlt}}"></div>
      {% endfor %}
    </div>
			<button type="button" class="swiper-button-prev" id="espaco-anterior">
				<svg><use xlink:href="#icone-swiper-anterior"></use></svg>
			</button>
			<button type="button" class="swiper-button-next" id="espaco-proximo">
				<svg><use xlink:href="#icone-swiper-proximo"></use></svg>
			</button>
  </div>
</section>