.conheca-wrapper {
  max-width: var(--size-lg, 1024px);
  padding: var(--size-fluid-6) 0;
  padding-top: var(--size-fluid-7);
  margin: 0 auto;
}

.conheca-wrapper h1 {
  margin: 0;
}

.conheca-conteudo {
  display: flex;
  align-items: stretch;
  gap: var(--gap-m);
  margin: var(--size-fluid-2) auto;
  padding: 0 var(--size-fluid-6);
}

.conheca-img {
  box-shadow: 5px 5px 10px 5px #80757c99;
  border-radius: var(--radius-3);
  overflow: hidden;
  min-width: 75%;
}

.conheca-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.equipe-wrapper {
  max-width: var(--size-lg, 1024px);
  padding: var(--size-fluid-3) 0;
  margin: 0 auto;
}

.equipe-conteudo {
  width: 85%;
  margin: var(--size-fluid-3) auto;
}

.equipe-artigo {
  margin: var(--size-fluid-4) auto;
}

.equipe-artigo-titulo {
  margin: var(--size-fluid-1) auto;
}

.equipe-artigo-crm {
  margin-top: 0;
  color: var(--rosemary-2);
  font-size: 0.85em;
  font-weight: 500;
}

.equipe-artigo-conteudo {
  display: flex;
  align-items: stretch;
  gap: var(--gap-s);
}

.equipe-artigo-img {
  aspect-ratio: 0.75;
  border-radius: var(--radius-3);
  box-shadow: 5px 5px 10px 5px #80757c99;
  overflow: hidden;
  flex: 3;
}

.equipe-artigo-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.equipe-artigo-texto {
  align-self: flex-start;
  flex: 5;
}

.equipe-artigo-separador {
  min-height: 100%;
  width: 1px;
  background-color: var(--marsala-2);
}