.conheca-wrapper {
  max-width: var(--size-lg, 1024px);
  padding: var(--size-fluid-6) 0;
  padding-top: var(--size-fluid-7);
  margin: 0 auto;
}

.conheca-wrapper h1 {
  margin: 0;
}

.conheca-conteudo {
  display: flex;
  align-items: stretch;
  gap: var(--gap-m);
  margin: var(--size-fluid-2) auto;
  padding: 0 var(--size-fluid-6);
}

.conheca-img {
  box-shadow: 5px 5px 10px 5px #80757c99;
  border-radius: var(--radius-3);
  overflow: hidden;
  min-width: 75%;
}

.conheca-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}