.rodape {
    background-color: var(--rosemary-2);
}

.rodape-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--gap-m);
    max-width: var(--size-lg, 1024px);
    padding: var(--size-fluid-6) 0;
    margin: auto;
}

.rodape-conteudo {
    display: flex;
    column-gap: var(--gap-m);
}

.rodape-mapa {
    width: auto;
    height: 320px;
    aspect-ratio: 1.5;
}

.rodape-mapa iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: none;
}

.rodape-contato-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rodape-contato-link {
    display: flex;
    column-gap: var(--size-2);
    justify-content: flex-start;
    align-items: center;
    color: var(--off-white-2);
}

.rodape-contato-link a {
    display: flex;
    column-gap: var(--size-2);
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape-contato-link a:hover {
    color: rgba(244 244 242 / 0.6);
    transition: color 0.3s ease;
}

.rodape-contato-link p {
    line-height: 1.15rem;
    padding: 0;
    margin: 0;
}

.rodape-contato-icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-contato-icone svg {
    fill: currentColor;
    height: 28px;
    width: 28px;
}

.rodape-citacao {
    width: 40ch;
    padding-top: var(--size-fluid-1);
    margin: 0;
    font-style: italic;
    font-size: 0.8em;
    color: var(--pistachio-1);
    font-weight: 100;
}

.rodape-copyright p {
    margin: 0;
    text-align: center;
    color: var(--off-white-4);
    font-weight: 100;
}

.rodape-copyright a {
    color: var(--pistachio-2);
    text-decoration: none;
    font-size: 0.8em;
}