.footer-container {
    background-color: var(--rosemary-2);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--gap-m);
    max-width: var(--size-lg, 1024px);
    padding: var(--size-fluid-6) 0;
}

.footer-content {
    display: flex;
    column-gap: var(--gap-m);
}

.footer-content iframe {
    width: 40vw;
    aspect-ratio: 1.5;
    border: 0;
}

.footer-contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contact-link {
    display: flex;
    column-gap: var(--size-2);
    justify-content: flex-start;
    align-items: center;
    color: var(--off-white-2);
}

.footer-contact-link a {
    display: flex;
    column-gap: var(--size-2);
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-contact-link a:hover {
    color: rgba(244 244 242 / 0.6);
    transition: color 0.3s ease;
}

.footer-contact-link p {
    line-height: 1.15rem;
    padding: 0;
    margin: 0;
}

.footer-contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-contact-icon svg {
    fill: currentColor;
    height: 36px;
    width: 36px;
}

.footer-quote {
    width: 40ch;
    padding-top: var(--size-fluid-1);
    margin: 0;
    font-style: italic;
    font-size: 0.8em;
    color: var(--pistachio-1);
    font-weight: 100;
}

.footer-copyright p {
    margin: 0;
    text-align: center;
    color: var(--off-white-4);
    font-weight: 100;
}

.footer-copyright a {
    color: var(--pistachio-2);
    text-decoration: none;
    font-size: 0.8em;
}