.servicos-wrapper {
  max-width: var(--size-lg, 1024px);
  padding: var(--size-fluid-6) 0;
  padding-top: var(--size-fluid-7);
  margin: 0 auto;
}

.servicos-wrapper h1 {
  margin: 0;
}

.servicos-conteudo {
  width: 70%;
  margin: 0 auto;
}

.servicos-conteudo p strong {
  font-weight: 700;
}