.servicos-wrapper {
  max-width: var(--size-lg, 1024px);
  padding: var(--size-fluid-4) 0;
  padding-top: var(--size-fluid-7);
  margin: 0 auto;
}

.servicos-wrapper h1 {
  margin: 0;
}

.servicos-conteudo {
  width: 70%;
  margin: 0 auto;
}

.servicos-conteudo p {
  font-weight: 400;
}

.servicos-conteudo p strong {
  font-weight: 700;
}

.diferenciais-wrapper,
.consultas-wrapper,
.exames-wrapper {
  max-width: var(--size-lg, 1024px);
  padding: var(--size-fluid-2) 0;
  margin: 0 auto;
  margin-bottom: var(--size-fluid-4);
}

.consultas-grupo,
.exames-grupo {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  gap: var(--gap-m);
}

.consultas-grupos-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
}

.cartao-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-color: var(--background-card);
  border: 1px solid var(--marsala-2);
  border-radius: var(--radius-3);
  box-shadow: 0 5px 15px 5px #80757c66;
  overflow: hidden;
}

.cartao-img {
  height: 40%;
}

.cartao-img img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cartao-conteudo {
  padding: var(--size-fluid-2) var(--size-fluid-1);
}

.diferenciais-conteudo {
  width: 70%;
  margin: auto;
}

.diferenciais-conteudo p {
  font-weight: 400;
}