---
title: VitaCordis | Home
layout: "./layouts/base.njk"
estilosCss: ["home", ]
swiper: home
transicaoBanner: true
---
<section id="hero">
	<div class="hero">
		<div class="hero-sombra"></div>
			<div class="hero-conteudo">
				<div class="hero-texto">
					<h1 class="hero-titulo">
						Conosco os <span class="hero-destaque">pequenos corações </span>pulsam mais <span class="hero-destaque">fortes</span>.
					</h1>
					<p class="hero-subtitulo">Com tecnologia de ponta e equipe especializada, cuidamos do coração dos seus pequenos com todo o carinho e segurança que eles merecem.</p>
				</div>
				<div class="hero-chamada"><a href="./pages/sobre.html">Saiba Mais &rightarrow;</a></div>
			</div>
			<div class="swiper hero-swiper">
				<div class="swiper-wrapper">
					{% for slide in home.hero.slides %}
					<div class="swiper-slide hero-slide">
						<img src="{{ slide.imgSrc }}" alt="{{ slide.imgAlt }}">
					</div>
					{% endfor %}
				</div>
			</div>
	</div>
</section>

<section class="secao" id="sobre">
	{% for artigo in home.sobre.artigos %}
		{% include "partials/artigo-lado-a-lado.njk" %}
	{% endfor %}
</section>

<section class="secao" id="servicos">
	<div class="servicos">
		<h2>Nossos Serviços</h2>
		{% for artigo in home.servicos.artigos %}
			{% include "partials/cartao-horizontal-largo.njk" %}
		{% endfor %}
	</div>
</section>

<section class="secao" id="porque">
	<h2 class="porque-titulo">Porque nos escolher?</h2>
	{% for artigo in home.porque.artigos %}
		{% include "partials/artigo-lado-a-lado.njk" %}
	{% endfor %}
</section>