<div class="lal {% if artigo.inverter %} linha-inversa {% endif %}">
  <div class="lal-img {% if artigo.imgCentro %} lal-img-centro {% endif %}" style="background-image: url({{ artigo.imgSrc }});" role="img" aria-label="{{ artigo.imgAlt }}">
  </div>
  <div class="lal-separador"></div>
  <div class="lal-texto">
    {% if artigo.titulo %}
    <h2>{{ artigo.titulo }}</h2>
    {% endif %}
    {% for paragrafo in artigo.paragrafos %}
      {% if paragrafo.titulo %}
      <h3>{{ paragrafo.titulo }}</h3>
      {% endif %}
      <p {% if artigo.pCondensado %} class="lal-texto-condensado" {% endif %}>
        {{ paragrafo.conteudo | safe }}
      </p>
    {% endfor %}
  </div>
</div>