<div class="cartao-wrapper">
  <div class="cartao-img">
    <img src="{{cartao.imgSrc}}" alt="{{cartao.imgAlt}}">
  </div>
  <div class="cartao-conteudo">
    <h3>{{ cartao.titulo }}</h3>
    <p>{{ cartao.texto }}</p>
  </div>
</div>