<div class="rodape">
  <div class="rodape-wrapper">
    <div class="rodape-conteudo">
      <div class="rodape-mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3750.869152796467!2d-43.93537493837585!3d-19.92991801162273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6992228aee07b%3A0xeb2ab4b440811442!2sVitacordis%20-%20Ecocardiograma%20fetal%20e%20pedi%C3%A1trico%20%7C%20Cardiologista%20pedi%C3%A1trico%20em%20BH!5e0!3m2!1spt-BR!2sbr!4v1758756482066!5m2!1spt-BR!2sbr"
            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
      <div class="rodape-contato-info">
        {% for link in rodape.links %}
        <div class="rodape-contato-link">
          {% if link.url %}
            <a href="{{ link.url }}">
          {% endif %}
              <div class="rodape-contato-icone">
                <svg><use xlink:href="#{{ link.icone }}"></use></svg>
              </div>
              <p>{{ link.texto | safe }}</p>
          {% if link.url %}
            </a>
          {% endif %}
        </div>
        {% endfor %}
        <p class="rodape-citacao">Aqui, cada coração é cuidado com atenção, ciência e afeto. Estamos prontos para caminhar ao seu lado, com escuta, leveza e cuidado verdadeiro.</p>
      </div>
    </div>
    <div class="rodape-copyright">
      <p>© 2025 Vitacordis. Todos os direitos reservados.</p>
      <p><a href="https://synapse.ad/" target="_blank">Desenvolvido por Synapse Alcance Digital</a></p>
    </div>
  </div>
</div>